<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJS • TodoMVC</title>
  <link rel="stylesheet" href="../node_modules/todomvc-app-css/index.css">
</head>

<body ng-app="todos.app">
  <section class="todoapp" ng-controller="MainController">
    <header class="header">
      <h1>todos</h1>
      <form ng-submit="createTodo()">
        <input ng-model="newTitle" class="new-todo" placeholder="What needs to be done?" autofocus>
      </form>
    </header>
    <section class="main" ng-show="hasTodos()">
      <input ng-checked="!hasActiveItems()" id="toggle-all" class="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <li ng-repeat="t in todos track by t.id"
            ng-class="{ completed: t.completed }"
        >
          <div class="view">
            <input class="toggle" type="checkbox" ng-model="t.completed">
            <label>{{ t.title }}</label>
            <button ng-click="removeTodo(t)" class="destroy"></button>
          </div>
          <input class="edit" value="Rule the web">
        </li>
      </ul>
    </section>
    <footer ng-show="hasTodos()" class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{ activeCount() }}</strong> item left</span>
      <ul ng-if="routingImplemented" class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <button ng-show="hasCompletedItems()" class="clear-completed">Clear completed</button>
    </footer>
  </section>
  <footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="https://lean-stack.de">Micha Alt</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
  <script src="../node_modules/angular/angular.js"></script>

  <!-- Todos App Scripts -->
  <script src="app/app.module.js"></script>
  <script src="app/controllers/main.controller.js"></script>

  <!-- Runtime Configuration -->
  <script src="main.js"></script>
</body>

</html>
